table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin: 2rem auto;
  border: 1px solid #ddd;
}
th, td {
  text-align: center;
  word-break: break-all;
  padding: 16px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}
/* -----------------------------------SCHEMES--------------------------------------------------- */

